.btn-saludar{
    margin-top: 30px;
    margin: 10px;
}

.date-picker{
    padding: 10px;
    padding-right: 0px;
}

img {
    max-height: 90px;
    max-width: 220px;
    margin: auto;
    padding: auto;
    display: block;
    margin-bottom: 10px;
}

.border {
    color: rgb(230, 64, 58);
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid palevioletred;
    border-radius: 3px;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    min-height: 100vh;
}
  
.card-container.card {
    max-width: 550px;
    padding: 20px 20px;
    border: 2px solid rgba(153, 163, 164);
}

.error-message {
    color: rgb(221, 88, 88);
    font-size: small;
}

.inputs-container{
    margin-left: 10px;   
}

.row{
    padding-bottom: 5px;
    margin-right: 0px;
}

.columna{
    padding-bottom: 5px;
    padding-right: 0px;
}


